node_modules
.env
coverage
coverage.json
typechain
typechain-types
cache
artifacts
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Hardhat
cache/
artifacts/
deployments/localhost/
deployments/hardhat/

# Frontend
frontend/build/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend1/build/
frontend1/dist/
frontend1/.env.local
frontend1/.env.development.local
frontend1/.env.test.local
frontend1/.env.production.local

# API
earnx-verification-api/dist/
earnx-verification-api/.env

# Misc
*.tgz
*.tar.gz
.cache/
.parcel-cache/
.env
.env.docker
.env.local
.env.development
.env.production
.node_modules

35127266008152230287761209727211507096682063164260802445112431263919177634415
.vercel
